/**
 * PRIMARY COLORS
 * The prevalent colours used on the website.
 */
$color-violet: #5267DF;
$color-red: #FA5959;
$color-black: #242A45;
$color-grey: #9194A2;



/**
 * TYPOGRAPHY
 */

$font-primary: "Rubik", sans-serif;
