.base{
    .base__wrapper{
        position:relative;
        img.absolute{
            position: absolute;
            top: 25%;
            right: 0;
            z-index: -1;
        }

        .base__container{
            display: flex;
            flex-direction: row-reverse;

            .col1 {
                img {
                    width: 100%;
                }
                max-width: 578px;
            }

      
            .h1{
                align-content: left;
                text-align: left;
                flex: 1;
            }
            .para_1{
                align-content: left;
                text-align: left;
            }

            .but{
                display: flex;
                gap: 16px;
            }   
        }
    }
}


    
