.sico{
    .tiles__wrapper{
        .tiles__container{

            .tiles__text{
                text-align: center;
                .featureText{
                    width: 540px;
                    position: relative;
                    height: 84px;
                    left: 27%;
                    right: 0%;
                }
            }

            .tabSection{
                .selected{
                    color: red;
                }

                ul{
                    margin-left: 40px;

                    li{
                        background-color: aliceblue;
                        color: aqua;
                        padding:10px;
                        display:inline-block;
                        font-size: 20px;
                        cursor: pointer;
                        transition: .5s;
                        width: 30%;
                        text-align: center;  
                    }

                    li:hover{
                        background-color: black;
                        color: aliceblue;
                        font-size: 27px;
                    }
                }
            }

            .tabSectionContent{
                margin: 0 20px;
                padding: 20px;
                border-radius: 0 10px 10px;
                line-height: 1.8;
                font-size: 1.3rem;

                .SB{

                    .featureTab1{
                        z-index: 2;
                        position: relative;
                        left: -140px;
                        bottom: -45px;

                    }

                    .RectangleBG{
                        position: relative;
                        width: 1000px;
                        height: 352px;
                        left: -700px;
                        top: -220px;
                        z-index: 1;
                        background: #5267DF;
                        border-radius: 316.5px;
                    }

                    .featureTabText1{
                        float: right;
                        position: relative;
                        width: 40%;
                        z-index: 4;
                        left: -50px;
                        top: 70px;


                        .featureButton1{
                            width: 114px;
                            height: 48px;
                            border-radius: 5px;
                        

                            background: #5267DF;
                            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
                            border-radius: 5px;
                            border-style: none;

                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 28px;
                            color: aliceblue;
                        }
                    }
                }

                .SS{
                    .featureTab1{
                        z-index: 2;
                        position: relative;
                        left: -140px;
                        bottom: -45px;

                    }

                    .RectangleBG{
                        position: relative;
                        width: 1000px;
                        height: 352px;
                        left: -700px;
                        top: -220px;
                        z-index: 1;
                        background: #5267DF;
                        border-radius: 316.5px;
                    }

                    .featureTabText1{
                        float: right;
                        position: relative;
                        width: 40%;
                        z-index: 4;
                        left: -50px;
                        top: 70px;


                        .featureButton1{
                            width: 114px;
                            height: 48px;
                            border-radius: 5px;
                        

                            background: #5267DF;
                            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
                            border-radius: 5px;
                            border-style: none;

                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 28px;
                            color: aliceblue;
                        }
                    }
                }

                .ES{
                    .featureTab1{
                        z-index: 2;
                        position: relative;
                        left: -140px;
                        bottom: -45px;

                    }

                    .RectangleBG{
                        position: relative;
                        width: 1000px;
                        height: 352px;
                        left: -700px;
                        top: -220px;
                        z-index: 1;
                        background: #5267DF;
                        border-radius: 316.5px;
                    }

                    .featureTabText1{
                        float: right;
                        position: relative;
                        width: 40%;
                        z-index: 4;
                        left: -50px;
                        top: 70px;


                        .featureButton1{
                            width: 114px;
                            height: 48px;
                            border-radius: 5px;
                        

                            background: #5267DF;
                            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
                            border-radius: 5px;
                            border-style: none;

                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 28px;
                            color: aliceblue;
                        }
                    }
                }

            }

        }
    }
}


@media only screen and (max-width: 768px) {


}

