main {
    // margin-bottom: 150px;
}
.solano {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    .title{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .para {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        width: 540px;
        position: relative;
        height: 56px;
        text-align: center;
    }


    .font {
        color: $color-black;
        font-size: 18px !important;
        font-weight: normal;
    
    }

    .border {
        margin-top: 20px;
        border-top: 1px solid rgba(36, 42, 69, 0.15) ;
    }

        .faq {
            max-width: 540px;
            margin-top: 0.5px;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(36, 42, 69, 0.15);   
            cursor: pointer;
        }
        .questions {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .questions h2 {
            font-size: 1.8rem;
        }
        .anws {
            margin-top: -10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.2s ease;
        }
        .anws p {
            color: $color-black;
            opacity: 0.75;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.15px;

        }
        .faq.active .font {
            color: $color-red;
            -webkit-transition: color 0.3s ease-in-out;
            -moz-transition: color 0.3s ease-in-out;
            -o-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
        }

        .faq.active .anws {
            max-height: 300px;
        }

        .faq.active .arrow {
            color: $color-red;
            -webkit-transition: color 0.3s ease-out;
            -moz-transition: color 0.3s ease-out;
            -o-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
            transform: rotate(270deg);
 
        }

        .arrow {
            color: #5267DF;
            font-size: 30px;
            transition: transform 0.5s ease-in-out;
            transform: rotate(90deg);
        }
}

.btn {

    display: flex;
    justify-content: center;
    margin-top: 70px;
  } 






//mobile

@media only screen and (max-width: 768px) {


    html {
       width: fit-content;

    }
    main {
        margin-bottom: 150px;
    }
    .solano {
        margin:0 auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        .title{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .para {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            width: 540px;
            position: relative;
            height: 56px;
            text-align: center;
        }
    
    
        .font {
            color: $color-black;
            font-size: 18px !important;
            font-weight: normal;
        
        }
    
        .border {
            margin-top: 20px;
            border-top: 1px solid rgba(36, 42, 69, 0.15) ;
        }
    
            .faq {
                max-width: 540px;
                margin-top: 0.5px;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(36, 42, 69, 0.15);   
                cursor: pointer;
            }
            .questions {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
            }
            .questions h2 {
                font-size: 1.8rem;
            }
            .anws {
                margin-top: -10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 1.2s ease;
            }
            .anws p {
                color: $color-black;
                opacity: 0.75;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 36px;
                letter-spacing: 0.15px;
    
            }
            .faq.active .font {
                color: $color-red;
                -webkit-transition: color 0.3s ease-in-out;
                -moz-transition: color 0.3s ease-in-out;
                -o-transition: color 0.3s ease-in-out;
                transition: color 0.3s ease-in-out;
            }
    
            .faq.active .anws {
                max-height: 300px;
            }
    
            .faq.active .arrow {
                color: $color-red;
                -webkit-transition: color 0.3s ease-out;
                -moz-transition: color 0.3s ease-out;
                -o-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out;
                transform: rotate(270deg);
     
            }
    
            .arrow {
                color: #5267DF;
                font-size: 30px;
                transition: transform 0.5s ease-in-out;
                transform: rotate(90deg);
            }
    }
    
    .btn {
    
        display: flex;
        justify-content: center;
        margin-top: 70px;
      } 
    
    
    }    